html {
  font-size: 16px;
  @apply text-neutral-800;

  @screen md {
    font-size: 20px;
  }
}

.navbar {
  width: calc(100% - 1rem) !important;
  @apply md:w-full;
}

.header {
  @screen md {
    width: calc(100% - 3rem);
  }
}

.categories-nav {
  .nav-item.active {
    > .nav-link {
      @apply bg-green-800;
    }
  }
}
